html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: [nav-start] 10vh [nav-end hero-start] 90vh [hero-end benefits-start]max-content [benefits-end gen-start]max-content [gen-end program-start] max-content[program-end cta-start] max-content[cta-end footer-start] 20vh [footer-end];
  overflow-x: hidden;
}

li {
  list-style: none;
}

.nav {
  background-color: darkgray;
  display: grid;
  grid-template-columns: 65% repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.link {
  height: 1rem;
  width: 8rem;
  background-color: #fdfdfd;
}

.link:nth-child(1) {
  justify-self: left;
  margin-left: 5rem;
  height: 4rem;
}

.link--blue {
  background-color: darkblue;
  height: 2rem;
}

/* HERO */
.hero {
  background-color: gray;
  display: grid;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
}

.hero li:nth-child(1) {
  width: 30rem;
  height: 1rem;
  background-color: white;
}
.hero li:nth-child(2) {
  width: 40rem;
  height: 1rem;
  background-color: lightgray;
}

.hero li:nth-child(3) {
  background-color: darkblue;
  height: 4rem;
  width: 12rem;
}

/* BENEFITS */

.benefits {
  background-color: #fdfdfd;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
  padding: 8rem 0;
}

.benefits-box {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  align-items: center;
}

.img {
  width: 4rem;
  height: 4rem;
  background-color: lightgray;
}

.benefits-box .img {
  grid-row: 1 / -1;
  justify-self: right;
}

.dark-line,
.grey-line--long,
.grey-line--short {
  height: 0.5rem;
}

.dark-line {
  background-color: rgba(66, 66, 66, 0.767);
  width: 40%;
}
.grey-line--long,
.grey-line--short {
  background-color: lightgray;
}
.grey-line--long {
  width: 60%;
}
.grey-line--short {
  width: 50%;
}

/* GET STARTED */

.getstarted {
  background-color: rgba(228, 228, 228, 0.712);
  padding: 3rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.getstarted-content {
  padding: 3rem;
  display: grid;
  row-gap: 1.3rem;
}

.getstarted-video {
  width: 100%;
  height: 100%;

  background-color: #fdfdfd;

  display: grid;
  align-items: center;
  justify-content: center;
}

/* PROGRAMS */
.programs {
  background-color: #fdfdfd;
  display: grid;
  grid-template-rows: 10vh 1fr;
  gap: 3rem;
  padding: 5rem;
}
.programs .first-line {
  align-self: center;
  justify-self: center;
}

.programs-boxes {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
}

.programs-box {
  display: grid;
  row-gap: 1.3rem;
}
.programs-box .img {
  width: 70%;
}

/* SIGN UP  */
.signup {
  background-color: rgba(17, 17, 224, 0.589);
  padding: 5rem;

  display: grid;
  grid-template-columns: 70% 1fr;
  align-items: center;
  justify-items: start;
  column-gap: 2rem;
}

.signup .link:nth-child(1) {
  width: 70%;
  justify-self: end;
}
/* FOOTER */
.footer {
  background-color: darkgray;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-box {
  display: grid;
  row-gap: 1rem;
  align-content: center;
}
